@use "@/styles/Variables.scss" as variables;

.signupPage {
  display: flex;
  min-height: 100vh; 
  width: 100%;
  background-color: #EBF1FF; 

  > div:first-child {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    padding: variables.$margin-md; 
  }
}


.imageSide {
  display: none;
  flex: 1;
  background-color: #3b82f6; 
  background-size: cover;
  background-position: center;

  @media (min-width: 1024px) { 
    display: block;
  }
}