@use "@/styles/Variables.scss" as variables;

.cardEvento {
  margin-bottom: 5px;
  display: block;
  width: 100%;
}

.ongoing {
  border-left: 8px solid blue;
  box-shadow: 7.5px 5px 5px grey;
}

.upcoming {
  border-left: 8px solid orange;
  box-shadow: 7.5px 5px 5px grey;
}

.completed {
  border-left: 8px solid green;
  box-shadow: 5px 5px 5px grey;
}

.eventName {
  margin-top: variables.$margin-lg;
  margin-bottom: variables.$margin-lg;
  text-align: center;
}

.eventImage {
  border-radius: variables.$border-radius;
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 10/7;
  object-fit: cover;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  font-size: variables.$font-size-md;
  padding: variables.$padding-sm;
  gap: variables.$gap-xs;
  margin-bottom: variables.$margin-lg;
}

.rowInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: variables.$margin-sm;
  margin-bottom: variables.$margin-sm;
  flex-wrap: wrap;
  row-gap: variables.$margin-sm;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: variables.$gap-sm;
  }
}
