@use "@/styles/Variables.scss" as variables;

.login {
  background-color: variables.$bg-dark;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 50px;
  > div {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: variables.$max-width-md) {
  .loginImageContainer {
    display: none !important;
  }
}
