@use "@/styles/Variables.scss" as variables;

.customLink {
  color: variables.$primary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  @each $size, $font-size in (variables.$font-sizes) {
    &.size-#{$size} {
      font-size: $font-size;
    }
  }
}
