@use "@/styles/Variables.scss" as variables;

.inputContainer {
  &.fullWidth {
    width: 100%;
  }
  height: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  color: variables.$text;
  font-weight: variables.$font-weight-semibold;
  margin-bottom: variables.$margin-sm;
  display: block;
  width: 100%;
}

.input {
  display: none;
}

.uploadLabel {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 10/7;
  border: 2px dashed variables.$border;
  border-radius: variables.$border-radius;
  position: relative;
  &:hover {
    border-color:  variables.$primary;
  }
}

.preview {
  border-radius: variables.$border-radius;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: variables.$border-radius;
  color: variables.$text-on-color;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 0;
  transition: opacity variables.$transition-duration variables.$transition-ease;
  &:hover {
    opacity: 1;
  }
}
