@use "@/styles/Variables.scss" as variables;

.select {
  background-color: variables.$bg-light;
  color: variables.$text;
  padding: variables.$padding-md;
  font-size: variables.$font-size-md;
  border: 1px solid variables.$border-muted;
  border-radius: variables.$border-radius;
  transition:
    color variables.$transition-duration,
    border-color variables.$transition-duration,
    box-shadow variables.$transition-duration,
    background-color variables.$transition-duration;
  &.fullWidth {
    width: 100%;
  }
}

.error {
  border-color: variables.$danger;
}

.option {
  background-color: variables.$bg-light;
  color: variables.$text;
}

.helperText {
  margin-top: variables.$margin-xs;
  font-size: variables.$font-size-xs;
  color: variables.$text-muted;
}

.errorText {
  color: variables.$danger;
  font-size: variables.$font-size-xs;
  margin-top: variables.$margin-xs;
}
