@use "@/styles/Variables.scss" as variables;

.card {
  background-color: variables.$bg;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;
}
