@use "@/styles/Variables.scss" as var;

.sidebar {
  width: 16rem;
  height: 100vh;
  background-color: var.$primary;
  color: var.$text;
  display: flex;
  flex-direction: column;
}

.header {
  padding: var.$padding-md;
}

.logo {
  display: flex;
  align-items: center;
  gap: var.$gap-sm;
  margin-bottom: var.$margin-md;
}

.logoIcon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: oklch(from var.$primary calc(l + -0.08) c h);
  border-radius: var.$border-radius;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: var.$font-size-sm;
    font-weight: var.$font-weight-semibold;
  }
}

.logoText {
  font-size: var.$font-size-lg;
  font-weight: var.$font-weight-semibold;
}

.addButton {
  width: 100%;
  background-color: oklch(from var.$primary calc(l + 0.05) c h);
  border: none;
  border-radius: var.$border-radius;
  padding: var.$padding-sm var.$padding-md;
  display: flex;
  align-items: center;
  gap: var.$gap-xs;
  font-weight: var.$font-weight-normal;
  color: white;
  cursor: pointer;
  transition: background-color var.$transition-duration var.$transition-ease;

  &:hover {
    background-color: oklch(from var.$primary calc(l + -0.08) c h);
  }
}

.divider {
  height: 1px;
  background-color: var.$text;
  margin: 0 var.$margin-md;
}

.menuContainer {
  flex: 1;
  overflow-y: auto;
  padding: var.$padding-md;
}

.section {
  margin-bottom: var.$margin-xs;
}

.sectionTitle {
  font-size: var.$font-size-sm;
  font-weight: var.$font-weight-semibold;
  margin-bottom: var.$margin-sm;
  color: white;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: var.$gap-xs;
}

.navItem {
  display: flex;
  align-items: center;
  gap: var.$gap-sm;
  padding: 0.625rem var.$padding-sm;
  border-radius: var.$border-radius;
  transition: background-color var.$transition-duration var.$transition-ease;
  color: white;
  text-decoration: none;
  font-size: var.$font-size-sm;

  &:hover {
    background-color: oklch(from var.$primary calc(l + -0.08) c h);
  }
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var.$padding-xs;
  background: var.$transparent;
  border: none;
  border-radius: var.$border-radius;
  cursor: pointer;
  transition: background-color var.$transition-duration var.$transition-ease;
  color: white;

  h3 {
    font-size: var.$font-size-sm;
    font-weight: var.$font-weight-semibold;
  }
}

.chevron {
  transition: transform var.$transition-duration;

  &.open {
    transform: rotate(180deg);
  }
}

.collapsibleContent {
  display: flex;
  flex-direction: column;
  gap: var.$gap-xs;
  margin-top: var.$margin-xs;
}