@use "@/styles/Variables.scss" as variables;

.ThemeToggle {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 1000;
  padding: variables.$padding-sm;
  border-radius: variables.$border-radius;
  border: 1px solid variables.$border;
  background: variables.$bg;
  color: variables.$text-muted;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: variables.$bg-light;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
