@use "@/styles/Variables.scss" as variables;

.ThemeToggle {
  position: fixed;
  top: 8px;
  right: 8px;
  z-index: 1000;
  padding: variables.$padding-sm;
  border-radius: 50%;
  border: 1px solid variables.$border;
  background: variables.$bg;
  color: variables.$text-muted;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1;
  &:hover {
    background: oklch(from variables.$bg calc(l + 0.05) c h);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
