@use "@/styles/Variables.scss" as variables;

.loginImage {
  border-radius: variables.$border-radius;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: variables.$gap-md;
  background: linear-gradient(to bottom, variables.$primary 0%, variables.$transparent 100%);
  > h1 {
    font-size: (variables.$font-size-md * 3);
    font-weight: bold;
  }
}

@media (min-width: variables.$min-width-lg) {
  .loginImage > h1 {
    font-size: (variables.$font-size-md * 4);
  }
}
