@use "@/styles/Variables.scss" as variables;

.addButton {
  font-size: variables.$font-size-md;
  width: 100%;
  background-color: oklch(from variables.$primary calc(l + 0.05) c h);
  border: none;
  border-radius: variables.$border-radius;
  padding: variables.$padding-md;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: variables.$gap-xs;
  color: variables.$text-on-color;
  cursor: pointer;
  transition: background-color variables.$transition-duration variables.$transition-ease;
  &:hover {
    background-color: oklch(from variables.$primary calc(l + -0.05) c h);
  }
}
