@use "@/styles/Variables.scss" as variables;

.card {
  padding: variables.$padding-md;
  width: 100%;
  height: 100%;
  // border: 1px solid variables.$border-muted;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;
  @each $name, $color in variables.$background-colors {
    &.#{$name} {
      background-color: $color;
    }
  }
}

.ongoing {
  border-left: 8px solid blue !important;
}

.upcoming {
  border-left: 8px solid yellow !important;
}

.completed {
  border-left: 8px solid black !important;
}

.cancelled {
  border-left: 8px solid red !important;
}