@use "@/styles/Variables.scss" as variables;

.card {
  padding: variables.$padding-md;
  width: 95%;
  height: 95%;
  margin: auto;
  // border: 1px solid variables.$border-muted;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow;
  @each $name, $color in variables.$background-colors {
    &.#{$name} {
      background-color: $color;
    }
  }
}

.ongoing {
  border-left: 8px solid blue !important;
  box-shadow: 7.5px 5px 5px grey ;
}

.upcoming {
  border-left: 8px solid orange !important;
  box-shadow: 7.5px 5px 5px grey ;
}

.completed {
  border-left: 8px solid green !important;
  box-shadow: 5px 5px 5px grey ;
}