@use "@/styles/Variables.scss" as variables;

.container {
  width: 100%;
  height: 100%;
  // overflow-y: auto;
  @each $size, $margin-size in (variables.$margin-sizes) {
    &.margin-#{$size} {
      margin: $margin-size 0;
    }
  }
  @each $size, $padding-size in (variables.$padding-sizes) {
    &.padding-#{$size} {
      padding: $padding-size;
    }
  }
}
