@use "@/styles/Variables.scss" as variables;

.grid {
  display: grid;
  width: 100%;
}

@each $size, $value in variables.$gap-sizes {
  .gap-#{$size} {
    gap: $value;
  }
}

@each $breakpoint, $min-width in variables.$breakpoints {
  @media (min-width: $min-width) {
    @for $i from 1 through variables.$grid-columns {
      .cols-#{$breakpoint}-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}
