.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .legendContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 24px;
  }
  
  .legendItem {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: x-small;
  }

  .bolaBase {
    width: 16px;
    height: 16px;
    border-radius: 50%; 
  }
  
  .bolaCadastrados {
    background-color: blue;
  }
  .bolaPendentes {
    background-color: orange;
  }
  .bolaDisponiveis {
    background-color: green;
  }
  
  @media (max-width: 768px) {
    .legendContainer {
      justify-content: flex-start;
    }
  }