@use "@/styles/Variables.scss" as variables;

.layout {
  display: grid;
  grid-template-columns: 1fr;
  padding: variables.$padding-md;
  gap: variables.$gap-md;
}

.sidebarContainer {
  display: none;
}

@media (min-width: variables.$min-width-lg) {
  .layout {
    grid-template-columns: 250px 1fr;
  }
  .sidebarContainer {
    display: block;
  }
}
