@use "@/styles/Variables.scss" as variables;

.formContainer {
  display: flex;
  flex-direction: column;
  gap: variables.$gap-lg;
  width: 100%;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
